* {
  box-sizing:border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width:100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

header {
  background:#131313;
  color:#ffffff;
  padding:15px 30px;
  width:100%;
}

header h1 { margin:0; }
header p { font-weight:500; }

button { background:#131399; color:#ffffff; margin:12px; }
button:hover { background:#4646aa; }

form { background:#cecece; border-radius:15px; padding:30px; box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3); width:50%; justify-self:center; text-align:left; }

form label, form input {
  display:block;
  clear:both;
  margin:5px 0;
  width:100%;
}

form input { font-size:1.2rem; height:35px;}

form .btn-group { display:flex; justify-content:center; }

.counters { display:flex; flex-wrap:wrap; justify-content:flex-start; gap:2%; }

.counter {
  background:#cecece;
  border-radius:15px;
  flex:1 1 45%;
  margin-bottom:1.5rem;
}

.counter .btn-group { display:flex; flex-wrap:wrap; }
.counter .btn { flex:1 1 45%; }

.counter .incVal { background:#119911; }
.counter .decVal { background:#cc9912; }
.counter .resetVal { background:#9999cc; }
.counter .delCount { background:#aa1111; }

@media screen and (max-width:1200px) {
  form { width:100%; }
  .counter { flex: 100%; }
}